
@font-face {
  font-family: Roboto;
  src: url(/public/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Roboto;
  src: url(/public/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(/public/fonts/RobotoCondensed-Regular.ttf);
  font-weight: 300;
}




@c_red: #fd7a58;
@c_blue: #537fba;
@c_gray: #999999;
@c_black: #373435;
@c_white: #ffffff;

@size-16:1em;//16
@size-18:1.125em;//18
@size-22:1.375em;//22
@size-24:1.5em;//24
@size-30:1.875em;//30
@size-36:2.25em;//36
@size-48:3em;//48
@size-60:3.75em;//60

html, body{padding: 0; margin: 0; font-family: Roboto; font-size: @size-16; color: @c_black;}
img{max-width: 100%; max-height: 100%}

.container{max-width: 1170px; width: 90%; margin: auto;}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}
.btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container:after, .container:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before,  .row:after, .row:before {
  display: table;
  content: " ";
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.col-sm-12 { width: 100%;}
.col-sm-11 { width: 91.66666667%;}
.col-sm-10 { width: 83.33333333%;}
.col-sm-9 { width: 75%;}
.col-sm-8 { width: 66.66666667%;}
.col-sm-7 {  width: 58.33333333%;}
.col-sm-6 { width: 50%;}
.col-sm-5 { width: 41.66666667%;}
.col-sm-4 { width: 33.33333333%;}
.col-sm-3 { width: 25%;}
.col-sm-2 { width: 16.66666667%;}
.col-sm-1 { width: 8.33333333%;}

h1{color: @c_black; line-height: 1.25em; font-size: @size-60; margin-bottom: 20px; font-weight: 500;}
h2{ text-align: center; text-transform: uppercase; font-size: @size-48; margin: 20px 0; font-weight: 500;}
h3{}
.h1_descr{color: @c_red; text-align: left; font-size: @size-36; margin: 20px 0 40px;}
.h2_descr{font-size: @size-22; text-align: center; margin: auto; max-width: 950px;}
.txt-type-title{font-size: @size-48}
.txt-grey{color: @c_gray;}
.sm-show{display: none;}
.uppercase{text-transform: uppercase}
.nowrap{white-space: nowrap;}
.txt-big{font-size: 1.2em;}

@media all and (max-width: 1200px) {
  body{font-size: 14px}
  h2{text-transform: uppercase;}
}

@media all and (max-width: 767px) {
  body{font-size: 12px}
  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8 , .col-sm-7,
  .col-sm-6, .col-sm-5, .col-sm-4,  .col-sm-3 , .col-sm-2, .col-sm-1 { width: 100%; float: none;}
  .sm-hide{display: none;}
  .sm-show{display: block;}
}

.btn{display: inline-block; border: none; font-size: @size-22; text-align: center; font-weight: 500; text-transform: uppercase; padding: 20px; cursor: pointer}
.btn-red{background: @c_red; color: @c_white; box-shadow: 0 10px 25px rgba(253, 122, 88, 0.6) }
.btn-red:hover{box-shadow: 0 5px 25px rgba(253, 122, 88, 0.6); }
.btn-red:active{box-shadow:  inset 0 5px 25px rgba(55, 52, 53, 0.3);}
.btn-blue{background: @c_blue; color: @c_white; box-shadow: 0 10px 25px rgba(83, 127, 186, 0.6) }
.btn-blue:hover{box-shadow: 0 5px 25px rgba(83, 127, 186, 0.6); }
.btn-blue:active{box-shadow:  inset 0 5px 25px rgba(55, 52, 53, 0.3);}
.btn-border{border: 1px solid @c_red; color: @c_red}
.btn-border:hover{background: @c_red; color: @c_white}
a.btn{text-decoration: none;}
@media all and (max-width: 767px) {
  .btn{width: 100%; box-sizing: border-box;}
}
.navbar-menu{ position: fixed; background: #fff; width: 100%; z-index:5}
.menu_main_line{
  border-bottom: 1px solid @c_gray; padding: 15px;
  &_nav{
    display: block; float: right;
    ul, li{margin: 0; padding: 0; list-style: none}
    li{display: inline-block;
      a{color: @c_black; margin: 0 10px; line-height: 60px; position: relative; text-transform: uppercase; font-weight: 500; text-decoration: none;
        &:after{content: ''; display: none; width: 110%; height: 0; border-bottom: 2px solid @c_red; bottom: 0; top: 0; margin: auto; position: absolute; left: -5%;}
        &:hover:after{display: block;}
      }
    }
  }
}
.menu_main_contact{margin: 40px 0}
.menu_left-block{ z-index: 1000; height: 60px; left: 0; right: 0; top: 20px;
  }
.navbar-menu_btn{display: inline-block; background: no-repeat center; width: 60px; height: 60px; box-sizing: border-box; border: 2px solid transparent;
  background-image:url("/public/img/icons/menu-ico.png"); background-image:url("/public/img/icons/menu-ico.svg");
  &:hover{border-color: @c_gray;}
}

.navbar-menu_logo{
  display: inline-block;vertical-align: super;
  object{max-height: 60px; max-width: 100%}
}
.nav-main-menu{
  position: absolute;
  top: 0; left: 0; background: @c_white; height: 100%; max-width: 960px; z-index: 1000;
  box-shadow: 0 0 5px @c_gray;
  li{font-size: @size-18; text-transform: uppercase; list-style: none; margin-bottom: 15px;
    a{color: @c_black; text-decoration: none;
      &:hover{color: @c_red;}
    }
  }
  & .navbar-menu_btn{ background-image:url("/public/img/icons/modal-back.png"); background-image:url("/public/img/icons/modal-back.svg");}
  .menu_left-block{float: left; margin: 15px;}
}
@media all and (max-width: 767px) {
  .navbar-menu_logo{ max-width: 150px; }

  .nav-main-menu{width: 100%; height: auto;
    ul{padding: 0;}
    .sm-content{width: 90%; margin: auto;}
  }
  .menu_main_line{padding: 5px 10px;}
}

.contact-modal{
  position: absolute;
  top: 0; right: 0; background: @c_white; min-height: 100%; max-width: 30%; z-index: 1000;
  box-shadow: 0 0 5px @c_gray; text-align: left;

  & .modal-header{height: 60px;}
  .btn{min-width: 260px; margin: 0;}
  h2{text-align: left;}
  .form_block{width: 555px; max-width: 100%; margin: 0; background: none; color: @c_black;
    form{width: 100%;
      & input, & textarea{color: @c_black; border-color: @c_gray;}
    }
  }
  &_content_blocks{width: 80%; margin: 5% auto 0;  }
  &_content{display: none;
    &.open{ display: block; }
    &_map{padding-bottom: 300px;}
  }
  &_map{
    position: absolute; width: 100%;  bottom: 0; margin-left: -10%;
  }

  &_tabs{
    position: absolute; top: 110px; margin: auto; left: -82px;
    &_ico{
      width: 80px; height: 80px; background: #fff no-repeat center; margin-bottom: -1px; border: 1px solid @c_gray;
      &.active{border-right: 1px solid transparent;}
      &.ico-phone{background-image: url("/public/img/icons/contact-phone.png")}
      &.ico-mail{background-image: url("/public/img/icons/contact-mail.png")}
      &.ico-map{background-image: url("/public/img/icons/contact-map.png")}
      &.ico-phone:hover, &.ico-phone.active{background-image: url("/public/img/icons/contact-phone-hover.png")}
      &.ico-mail:hover, &.ico-mail.active{background-image: url("/public/img/icons/contact-mail-hover.png")}
      &.ico-map:hover, &.ico-map.active{background-image: url("/public/img/icons/contact-map-hover.png")}
    }
  }
  .control-line{
    & label{
      display: table;
      & .checkbox_input, & .checkbox_txt{display: table-cell; vert-align: top;}
    }
  }
}
.modal{
  display: none;
  position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 55555;  overflow: auto;
  -webkit-overflow-scrolling: touch; outline: 0; background: rgba(51, 51, 51, 0.8);
  &-dialog{ position: relative; width: 950px; max-width: 90%; min-height: 400px; max-height: 90%; margin: 10% auto;  background-color: #fff;}
  .modal-close{
    display: inline-block; background: no-repeat center; width: 60px; height: 60px; box-sizing: border-box; border: 2px solid transparent;
    position: absolute; right: 30px; top: 15px; z-index: 77777;
    background-image: url("/public/img/icons/modal-close.png"); background-image: url("/public/img/icons/modal-close.svg");
    &:hover{border-color: @c_gray;}
  }
  &-header{height: 100px;}
  &.contact-modal-win{
    transition: all 0.5s; display: block;
    &.hide{
      left: auto; width: 100px; z-index: 1;
      background: none; overflow: hidden;
      & .modal-content{margin: 0 -31px 0 0}
      & .modal-close{display: none;}
      & .contact-modal_tabs{box-shadow: 0 0 25px @c_black;}
    }

  }
}
@media all and (max-width: 767px) {
  .contact-modal{
    width: 100%; min-width: 100%;
    &_tabs{top:5px; left: auto; right: -130px; z-index: 6666;
      &_ico{
         width: 60px; height: 60px; display: inline-block; border-color: transparent;
      }
      &.opened{
        left: 20px; right: auto;
        .contact-modal_tabs_ico{border: 1px solid @c_gray;}
      }
    }
  }
  &.contact-modal-win{
    transition: all 0.5s; display: block;
    &.hide{ left: auto; z-index: 667; width: 80px; background: 0 0; bottom: auto;}
  }

  .modal-dialog { margin-top: 90px}
  .modal-close {  top: 5px; right: 5px; width: 25px; height: 25px;}
  .navbar-menu{position: absolute; overflow: hidden; background: #fff; top: 0; left: 0; height: 70px; width: 100%; z-index: 666}
}

/* modal-end */

.art-block-1{
  padding-top: 90px;
  position: relative; padding-bottom: 5%;
  &:after, &:before{content: ''; right: 0; bottom: 0; position: absolute;  height: 100%;}
  &:before{width: 50%; background: url("/public/img/bg/bg_1.jpg") no-repeat center; background-size: cover;}
  &:after{ width: 55%; background: url("/public/img/pic/children.png") no-repeat top left; background-size: cover; }
  .row{display: table-row}
  .col-6{display: table-cell; width: 50%;}
  .btn{width: 490px; max-width: 90%;}
}

@media all and (max-width: 767px) {
  .art-block-1{
    & .row{display: block;}
    h1{font-size: 3em; margin-top: 1em;}
    &:after, &:before{content: none}
    .sm-image{ height: 400px; position: relative;
      background: url("/public/img/bg/bg_1.jpg") no-repeat center; background-size: cover;
      &:after{ content: ''; right: 0; bottom: 0; position: absolute;  height: 100%; width: 100%; background: url("/public/img/pic/children.png") no-repeat bottom center; background-size: contain; }
    }
    .btn{width: 100%; max-width: 100%;}
  }
}
.art-block-2{margin-top: 40px;}
.item-ico-list{
  margin-top: 80px;
  &_ico{ width: 100px; height: 100px; display: block; float: left; border-radius: 10px;
    margin: 0 5% 80px 0; background: @c_red no-repeat center; background-size: 90%;
    &.blue{background-color: @c_blue;}
    &.ico-1{background-image: url("/public/img/icons/icon-first-1.png"); background-image: url("/public/img/icons/icon-first-1.svg");}
    &.ico-2{background-image: url("/public/img/icons/icon-first-2.png"); background-image: url("/public/img/icons/icon-first-2.svg");}
    &.ico-3{background-image: url("/public/img/icons/icon-first-3.png"); background-image: url("/public/img/icons/icon-first-3.svg");}
    &.ico-4{background-image: url("/public/img/icons/icon-first-4.png"); background-image: url("/public/img/icons/icon-first-4.svg");}

  }
  &_text{
    font-size: @size-22; padding-left: 120px;
    &_title{text-transform: uppercase; margin-top: 0; margin-bottom: 10px; font-weight: 500;}
    &_descr{color: @c_gray; margin: 0 0 80px 0;}
  }
}
@media all and (max-width: 767px) {
  .item-ico-list{
    display: table;
    .col-sm-6{
      display: table-row; margin-bottom: 40px;
      &>div{display: table-cell; float: none; vertical-align: top;}
    }
    &_text{ padding-left: 0;
      &_descr{margin-bottom: 40px;}
    }
    //.col-sm-6:after{clear: both; content: ''; display: table;}
    &_ico{margin: 0 0 40px 0; max-width: 90%; left: 0;}
  }
  .art-block-2{margin-bottom: 40px;}
}
@media all and (max-width: 360px) {
  .item-ico-list{
    &_ico{width: 60px; height: 60px;}
  }
}
.art-block-3{
  background: @c_blue; background: -webkit-linear-gradient(left, @c_blue 50%,  @c_red 50%);
  color: @c_white; overflow: hidden;
  &_title{
    &_left, &_right{margin-top: 60px;}
    &_right{font-size: @size-24;}
    &_left{
      text-align: right; margin-right: 80px; position: relative;
      span:after{content: ''; width: 80px; height: 10px; border-radius: 7px; background: @c_white;
        position: absolute; right: -120px; top:0; bottom: 0; margin: auto; display: block}
    }
    &_right{margin-left: 80px;}
  }
  .container_bg:after{ background-image: url("/public/img/pic/gerl_1.png"); background-position: center;}
  .container_bg:before{ background-image: url("/public/img/pic/gerl_2.png");}
  @media all and (min-width: 767px) and (max-width: 1800px) {
    .container_bg:after { right: -45%; }
  }
}
.container_bg{
  position: relative;
  &:after, &:before{ content:''; width: 50%; height: 100%; position: absolute;
  top: 0; bottom: 0; margin: auto; display: block; background:  no-repeat right bottom; background-size: contain}
  &:after{right: -50%; }
  &:before{left: -50%; }
}

@media all and (max-width: 767px) {
  .art-block-3{
    background: @c_red;
    &_title{
      &_left, &_right{margin: 5% auto; text-align: center;}
      &_left span:after{content: none;}
    }
  }

}

.txt-type-1{font-size: @size-24;}
.txt-type-ico{padding-left: 40px; font-size: @size-24; text-transform: uppercase; position: relative}
.txt-type-ico:before{content: ''; position: absolute; left: 0; top: 0; width: 30px; height: 30px;
  background: url("/public/img/icons/yes-w.png") no-repeat center; background-image: url("/public/img/icons/yes-w.svg")}

.content{
  &-r{margin-left: 10%;}
  &-l{margin-right: 10%;}
}

.slider-popup{
  .slide{margin: 20px 5px 80px; position: relative;}

  &_descr{ position: absolute; opacity: 0; color: @c_gray; padding: 40px;
    width: 60%; background: #fff; left: 0; top: 50%;
    transition: 1s; box-shadow: 0 0 70px @c_black;
    & .title{font-size: @size-36; color: @c_red; margin: 20px 0;}
    & .txt{font-size: @size-22; }
  }
  .slick-current .slider-popup_descr{opacity: 1}
}
.slick-slider{
  .slick-next { right: 15%;
    &:before{transform: scale(-1)}
  }
  .slick-prev { left: 15%;  z-index: 1; }
  .slick-next, .slick-prev{width: 50px; height: 50px;}
  .slick-next:before, .slick-prev:before{
    width: 100%; height: 100%; border-radius: 50%; display: block; background: #fff no-repeat center;
    background-image: url("/public/img/icons/Arrow-right.png");
    background-image: url("/public/img/icons/Arrow-right.svg");
  }
}
@media all and (max-width: 1500px) {
  .slider-popup{
    &_descr{width: 90%; padding: 20px;}
    & .slide{margin-bottom: 40px;}
  }
}
@media all and (max-width: 767px) {
  .slider-popup .slick-next { right: 5%;}
  .slider-popup .slick-prev { left: 5%;}
  .slick-next, .slick-prev{top: 30%;}
  .slider-popup{
    &_descr{position: relative; width: 100%; box-sizing: border-box;}
  }
}
.art-block-4{
  margin-top: 40px; margin-bottom: 80px;
  & .txt-grey{margin: 40px 0 60px;}
  & .btn{margin: 40px 0}
}

.multi-tab{
  width: 100%; position: relative;
  ul, li{list-style: none; margin: 0; padding: 0;}
  &_left{width: 390px; float: left;}
  &_right{width: calc(~"100% - 400px"); float: left}
  &_tab-menu{
    padding: 0; margin: 0;
    li{
      font-size: @size-22; color: @c_blue; position: relative; text-decoration: none; display:block; padding: 36px;
      background: #f8f8f8; border-bottom: 1px solid @c_blue; cursor: pointer;
        &:after, &.active:after{content: ''; position: absolute; right: -40px; top:0;
          width: 0; height: 0; opacity: 0;
          border-top: 51px solid transparent;
          border-left: 40px solid #e5ecf5;
          border-bottom: 51px solid transparent;
        }
        &:hover{background: #e5ecf5}
        &:hover:after{opacity: 1;}
        &.active{  background: @c_blue; color: @c_white;
          &:after{opacity: 1; z-index: 1; border-left: 40px solid @c_blue;}
        }
    }
  }
  &_hor-menu {
    display: table;
    li{
      position: relative; display: table-cell; padding: 15px; cursor: pointer;
      font-size: @size-18; text-align: center; text-transform: uppercase;
      &.active{font-size: @size-24; color: @c_red;}
      &.active:after{content: ''; width: 100%; height: 4px; background: @c_red; border-radius: 2px;
        position: absolute; bottom: 8px; left: 0;}
    }
  }

  &_contents {
    padding-left: 40px; font-size: @size-22;
    .tab-hor-content, .multi-tab-content{
      display: none;
      &.active{display: block}
    }
    & .btn{font-size: 1em;}
  }
  &_sm{overflow: auto;}
}
@media all and (max-width: 767px) {
  .multi-tab{
    &_left, &_right{width: 100%; float: none}
    &_tab-menu{
      margin: 0; padding: 0;
      li{
        &:after, &.active:after{content: none}
      }
    }

    &_hor-menu  {padding: 0;}
    &_contents  {padding: 0; width: 90%; margin: auto;}
  }

}

.virtual-table{
  .table-row{display: table-row;}
  .table-cell{display: table-cell;}
}

.art-block-5{
  background: @c_blue; background: -webkit-linear-gradient(left,  @c_red 50%, @c_blue 50%);
  color: @c_white; padding-top: 40px; overflow: hidden;
  & h2{text-transform: none; line-height: 1.2em; text-align: left;}
  .smile{
    padding: 0 40px 40px 65px; padding-bottom: 40px; position: relative;font-size: @size-24;
    &-good:before, &-bed:before{content: ''; width: 45px; height: 45px; position: absolute; top: 0; left: 0; background: no-repeat center; background-size: contain;}
    &-good:before{ background-image: url("/public/img/icons/smiling-emoticon-square-face.png");background-image: url("/public/img/icons/smile-good.svg");
    }
    &-bed:before{ background-image: url("/public/img/icons/sad-face-in-rounded-square.png");background-image: url("/public/img/icons/smile-bed.svg");
    }
  }
  .container_bg:after{ right: -46%; background-image: url("/public/img/pic/boy_1.png"); }
  .container_bg:before{ left: -40%; background-image: url("/public/img/pic/boy_2.png");}
}

@media all and (min-width: 767px) and (max-width: 1600px) {
  .container_bg{
    &:after, &:before{content: none;}
  }
}

.art-block-6{
  padding-top: 80px;

}

@media all and (max-width: 767px) {
  .art-block-6{
    background-color: #f8f8f8; padding-top: 40px; border-top: 1px solid @c_blue; margin-top: 0; padding-bottom: 10%;
  }
}

.icons-row{
  color: @c_blue; font-size: @size-18; margin-top: 40px; line-height: 1.2em; text-align: center; position: relative;
  &_icon{width: 130px; height: 130px; background: #fff; border: solid 2px @c_blue; border-radius: 15px; margin: auto;
    object, img{width: 70px; height: 70px; margin:  30px;}
  }
  &_descr{ margin: 30px 0;
    p{margin: 10px 0}
  }
  &_title{ text-transform: uppercase; }
  &:before{content:''; left: 0; top: 70px; position: absolute; width: 100%; height: 2px; z-index: -1;
    /* IE9, iOS 3.2+ */
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0, transparent),color-stop(0.5, @c_blue),color-stop(1, transparent));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(right, transparent 0%, @c_blue 50%, transparent 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to left,transparent 0%, @c_blue 50%, transparent 100%);
    background-image: -ms-repeating-linear-gradient(right,transparent 0%, @c_blue 50%, transparent 100%);
  }
  & .btn{font-size: 1em; padding: 16px 40px; max-width: 100%;}
}

@media all and (min-width: 1500px) {
  .icons-row{
    &:before{left: -10%;  width: 120%; }
  }
}
@media all and (max-width: 767px) {
  .icons-row{
    text-align: left; font-size: 1.25em;
    &:before{width: 2px; height: 100%; left: 50px; top: 0; margin: 0; z-index: 0;}
    &_icon{width: 100px; height: 100px; float: left; margin-right: 20px;
      object, img{margin: 17px;}
    }
    & .col-sm-3{position: relative;}
    & .col-sm-3:after{clear: both; content: ''; display: table;}
    & .btn{width: auto}
    &_descr{margin: 30px 0 20px 125px;}
  }
}

.art-block-7{
  padding: 3% 0; margin: 3% 0;
  background: url("/public/img/bg/bg_2.jpg") no-repeat; background-size: cover;
  table{border-collapse: collapse; margin: auto}
  td, th{ border: 2px solid #d4d7d9; font-weight: normal; font-size: @size-22; padding: 15px; position: relative; background: #fff;}
  th{border-color: @c_red; background: @c_red; color: @c_white; text-align: left; text-transform: uppercase}
  .plus, .fail{ width: 30px; height: 30px; margin: auto; display: block;position: relative;
    &:after{content: ''; display: block; position: absolute; width: 100%; height: 100%; background: no-repeat center;}
  }
  .plus:after{background-image: url("/public/img/icons/ico-bool-ok.png")}
  .fail:after{background-image: url("/public/img/icons/ico-bool-fail.png")}
  @media all and (max-width: 767px) {
    padding: 10% 0; margin: 0;
    th{padding: 10px 5px;}
    td{padding: 5px;}
  }
}

.review-block{
  text-align: center; margin-bottom: 5%;
  &_img{margin: 20px 0;}
  &_name{font-size: @size-30; position: relative; margin-bottom: 40px;
    &:after{ content: ''; position: absolute; width: 50px; height: 0; border-bottom: 2px solid; left: 0; right: 0; margin: auto; bottom: -20px;}
  }
  &_txt{width: 90%; margin: auto; font-size: @size-18;}
}

.art-block-9{
  background: url("/public/img/bg/bg_3.jpg") no-repeat; background-size: cover;
}
@media all and (max-width: 767px) {
  .art-block-9 .container{width: 100%;}
}

/* form */
.form_block{color: @c_white;
  margin: auto; background: url("/public/img/pic/box.png") no-repeat top center; background-size: cover;
  h2{ margin-top: 20%; margin-bottom: 40px;}
  form {
    width: 74%; margin: auto;
    &>.col-sm-6.control:nth-of-type(2n) .offset{margin-right: 15px}
    &>.col-sm-6.control:nth-of-type(2n+1) .offset{margin-left: 15px}

    input, textarea{display: block; background: transparent; box-sizing: border-box;  width: 100%;
      border: 1px solid @c_white; padding: 15px; color: @c_white; font-size: @size-18 }

    input[type=checkbox]{ width: 20px; height: 20px;
      background: transparent; padding: 10px; color: @c_white;
      &:checked{border: 1px solid @c_gray;}
      &:after {top: 2px;left: 5px; color: #424242;}
    }
    label {
      & .checkbox_txt{display: inline-block; vertical-align: super;}
      & .checkbox_input{display: inline-block}
      & a{color: inherit}
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: inherit;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: inherit;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: inherit;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: inherit;
    }

  }
  p{font-size: @size-18; }
  .control{ margin-bottom: 30px;}
  .btn{margin: 0 0 40px;}
  @media all and (max-width: 767px) {
    width: 100%; max-width: 100%; background-image: url("/public/img/pic/box-sm.png"); background-size: 100% 100%;
    form >.col-sm-6.control:nth-of-type(n) .offset{margin: 0;}
    .control { margin-bottom: 20px; }
    h2{margin-top: 25%;}
    .checkbox_txt{width: 85%; float: left; margin: 0;}
    .checkbox_input{width: 15%; float: left;}
  }
}

.left{text-align: left;}
.right{text-align: right;}
.txt-center{text-align: center; margin: auto;}

.inline-form{
  width: 90%; margin: auto; background: @c_white; border-radius: 10px;
  & input, & .btn{width: 50%; box-sizing: border-box}
  & input{ background: transparent; border: none; outline: none; padding: 10px}
  & .btn{ border: none; font-size: @size-18; color: @c_white; text-transform: uppercase; border-radius: 0 10px 10px 0; background: @c_red; margin-left: -4px; border: 2px solid @c_white;
  &:hover{background-color: #e2532e}
  }
  @media all and (max-width: 767px) {
    width: 100%; margin: 10% 0 ;
  }
}
/* form-end */

.colors-block{
   color: #fff;font-size: @size-24;
  &_title{font-size: 1.5em; margin: 20px 0;}
  &_image{float: left; width: 33.333%; margin-top: 10px;
    & img{vertical-align: bottom;}
  }
  &_description{float: left; width: 66.666%;
    & p{padding: 0 30px; line-height: 1.2em;}
  }
  &:nth-of-type(2n+1){background: @c_red;}
  &:nth-of-type(2n){background: @c_blue;
    .colors-block_image{float: right; text-align: right;}
  }
}

.accordion{
  &_item{
    font-size: @size-24;
    &.active{
      .accordion_description{display: block;}
      .accordion_title:after{transform: rotate(0)}
    }
  }
  &_title{background: @c_blue; color: #fff; display: block; cursor: pointer; position: relative;
    padding: 10px 10px 10px  130px; min-height: 80px; margin-bottom: 10px; vertical-align: middle;
    .title{display: table-cell; vertical-align: middle; height: 80px;}
    &:before, &:after{content: ''; position: absolute; width: 100px; height: 100%; left: 0; top: 0}
    &:before{background: #476c9e;}
    &:after{background: no-repeat center center; transform: rotate(180deg);
      transition: 0.5s;
      background-image: url("/public/img/icons/arrow-w.png"); background-image: url("/public/img/icons/arrow-w.svg");}
  }
  &_description{display: none; padding: 30px 30px 30px 130px; transition: 0.5s;}

  @media all and (max-width: 767px) {

    &_title{
      padding:10px 10px 10px 75px;
      &:before, &:after{width: 65px;}
    }
    &_description{padding: 20px 10px;}
  }
}

.art-block-10{
 & h2{margin: 40px 0;}
}

.art-block-11{
  color: @c_white; padding: 40px 0 80px;
  background: url("/public/img/bg/bg_4.jpg") no-repeat center; background-size: cover;
  .slick-slide {
    & img{width: 90%; transition: 1s; margin: 5% auto}
    &.slick-center img{width: 100%; margin: 0 auto;}
  }
  .slick-slider{
    margin-top: 80px;
    &:before{
      content: ''; position: absolute; left: 0; right: 0; margin: auto; top: -5%;
      width: 90%; height: 105%; background: @c_white;
    }
  }
  @media all and (max-width: 767px) {
    padding: 20px;
    .slick-slider{margin-top: 40px;
      &:before{width: 100%;}
    }
    & .slick-slider .slick-next{right: 5%;}
    & .slick-slider .slick-prev{left: 5%;}
    & .slick-next, & .slick-prev{top: 50%;}
  }
}

.art-block-12{
  margin-bottom: 80px;
  & h2{margin: 40px 0}

}

.art-block-13{
  background: @c_blue; color: @c_white; padding: 40px 0;
  & h2{text-transform: none; margin:0;}
  & input{font-size: @size-22; padding-left: 20px; }
}

.art-block-14{
  h2{padding-top: 40px;}
  p{font-size: @size-22; margin: 16px;}
}

@media all and (max-width: 767px) {
  .art-block-12{
    margin-bottom: 40px;
  }
  .art-block-13{

     }
  .art-block-14{
    margin-bottom: 10%;
  }
}
footer{
  padding-top: 1px;
  height: 450px; background: url("/public/img/bg/Background_footer.jpg") no-repeat center; background-size: cover;
  & .menu_main_line{
    border: none; margin-top: 20px;
    &_nav{margin-right: 30%;}
  }
}

.social-block{
  width: 100%; margin-top: 20px;
  &:after{clear: both; content: ''; display: table;}
  &_item{width: 25%; float: left;
  & .ico{
    width: 50px; height: 50px; opacity: 0.7; background: no-repeat center; display: block; background-size: contain;
    &-fb{background-image: url("/public/img/icons/16px-logo-facebook.png");  }
    &-inst{background-image: url("/public/img/icons/16px-logo-instagram.png"); }
    &-tw{background-image: url("/public/img/icons/16px-logo-twitter.png"); }
    &-yb{background-image: url("/public/img/icons/16px-logo-youtube.png");  }
    &:hover{opacity: 1}
  }
  }
}